.rating {
    position: relative;
    background: #fff;
    padding: 30px 0 90px;
    z-index: 1;

    &__title {
        color: rgb(20, 20, 20);
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 100px;
        margin-bottom: 88px;

        & span {
            color: rgb(20, 154, 3);
            font-family: 'Montserrat Alternates';
            font-size: 50px;
            font-weight: 700;
            line-height: 30px;
        }
    }

    &__swiper {
        padding-left: 100px;
    }

    &__slide {
        height: 463px;
        border-radius: 10px;
        box-shadow: 0px 20px 15px -10px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        cursor: pointer;
    }

    &__image {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    &__number {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat';
        font-size: 150px;
        font-weight: 700;
        line-height: 183px;
        letter-spacing: 0%;
        text-align: left;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 80px;
        background: linear-gradient(90.00deg, rgb(0, 0, 0) 45%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
    }
}