.info {
    height: 0px;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    transition: .5s;

    &.active {
        height: 700px;
    }

    &__bg {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__cancel {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        font-size: 50px;
        background: rgba(20, 20, 20, 0.7);
        color: #fff;
    }

    &__content {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 30px;
        height: 100%;
        width: 100%;
        background: linear-gradient(90.00deg, rgb(0, 0, 0) 33%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 115%);
    }

    &__title {
        color: rgb(255, 255, 255);
        font-family: 'Raleway';
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        width: 935px;
    }

    &__genres {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__genre {
        color: rgba(255, 255, 255, 0.6);
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__actors {
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 17px;
        row-gap: 15px;
    }

    &__actor {
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 25px;
        background: rgba(20, 20, 20, 0.5);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 2px 15px 2px 2px;

        & img {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }

        & p {
            color: rgb(255, 255, 255);
            font-family: 'Raleway';
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}