.detail {
    min-height: calc(100vh - 90px);
    overflow: hidden;
    position: relative;
    margin-top: 90px;

    &__bg {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__image {
        position: absolute;
        top: 30px;
        right: 15%;
        width: 311px;
        height: 462px;
        border-radius: 10px;
    }

    &__content {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 30px;
        min-height: calc(100vh - 90px);
        width: 100%;
        background: linear-gradient(90.00deg, rgb(0, 0, 0) 33%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 115%);
    }

    &__title {
        color: rgb(255, 255, 255);
        font-family: 'Raleway';
        font-size: 50px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        width: 935px;
    }

    &__genres {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__genre {
        color: rgba(255, 255, 255, 0.6);
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__role {
        color: rgb(255, 255, 255);
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 70px;
    }

    &__actors {
        width: 100%;
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 17px;
        row-gap: 15px;
    }

    &__actor {
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 25px;
        background: rgba(20, 20, 20, 0.5);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 2px 15px 2px 2px;

        & img {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }

        & p {
            color: rgb(255, 255, 255);
            font-family: 'Raleway';
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}

.detail__info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    margin: 50px 0;

    &_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    &_title {
        color: rgb(255, 255, 255);
        font-family: "Raleway";
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
    }

    &_text {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
}

.detail__recommend {
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 27px;
}

.detail__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-bottom: 70px;
}
.detail__thriller{
    border-radius: 10px;
    padding: 10px 15px;
    background: rgb(20, 154, 3);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    & svg{
        color: white;
        font-size: 25px;
    }

    & span{
        color: rgb(255, 255, 255);
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
    }
}